{% extends "base.html.twig" %}

{% block body %}
<section class="text-center m-5">
<div class="container text-dark d-flex text-center m-5 ">
    <div>
        <h1 class="m-5 p-3 text-danger "> Notre histoire </h1>
        <p>Le Restaurant Bisson à Rambouillet fut créé en 1973 par André Bisson chef cuisinier de l’équipe de France de football de 1990 à 2004. Après un bon repas sur la terrasse ombragée ou en salle vous pourrez directement accéder au magnifique parc arboré du Château de Rambouillet, et pousser votre balade jusqu’à la Bergerie Nationale.br</p>

        <p>L’équipe de France de Football fut sacrée championne du monde en 1998, et Championne d’Europe en 2000. André Bisson à exercé son métier et développé sa cuisine dans plus de 70 pays à travers le monde : Islande, Norvège, Suède, Danemark, Russie, Allemagne, Suisse, Belgique, Portugal, Italie , Espagne, Maroc, Tunisie, Sénégal, Turquie, japon, Corée du sud, l’Australie , Chili, Afrique du sud ou il a eu l’honneur d’être reçu par le président Monsieur Mandella.</p>
    </div>
    <div class="m-3 p-3">
        <img src="{{asset('image/Paris.jpg') }}" width="600px" height="500px" alt="">
    
    </div>
</div>
<div class="container text-dark d-flex text-center m-5 ">
    <div class="m-3 p-3">
        <img src="{{asset('image/plat.jpg') }}" width="600px" height="500px" alt="">
    
    </div>
    <div>
        <h1 class="m-5 p-3 text-danger "> Service de qualité </h1>
        <p>Le restaurant Bisson achète des produits frais à Rungis en région parisienne et vous propose des plats faits maisons. Nos entrées, nos plats, nos desserts sont préparés à la commande. Le faux filet, le veau origine France et le filet de boeuf proviennent de France. Notre carte varie au grès des saisons, par exemple à l’occasion de la gastronomie d’automne nous poposons les plats suivants : la terrine de faisan ou omelette aux cèpes frais à ma façon ou Œufs de poule en cocote aux truffes, dos de brochets à la plancha et girolles ou noisettes de biches, figues rôties et cèpes ou caille farcie à ma façon. « L’automne, c’est la chasse, la pêche et des produits goûteux et colorés que nous aimons préparer» Le Chef.</p>

    </div>
</div>
</section>



{% endblock %}