{% extends "base.html.twig" %}
{% block body %}


     <h2 class="text-center text-dark m-2">NOS SPAS</h2>
    <div class="d-flex m-5">    
        <div class="col-4 m-5">
            <div class=" card card-body  rounded-circle text-center bg-dark" >
                <h5 class="text-uppercase">Séjour Spa!</h5>
                <h6>Evadez-vous</h6>
                <p class="small m-4"> Besoin de déstresser, d’effacer les tensions musculaires, de retrouver son énergie, ou simplement de prendre soin de soi ? les spas, véritables écrins de bien-être parmi les plus beaux spa de France proposent des rituels très personnalisés, prodigués avec de prestigieuses lignes de soins...!</p>
                
            </div>
        </div>    
        
            <div class="col-6 w-75">
                <img  src="{{ asset('image/spa-1.jpg') }}" width="800" height="400"  alt="">
            </div>
            <hr class="accent my-5">
        
    </div>

     <h2 class="text-center text-dark">Spa privé</h2>   
     <div class="d-flex m-5">
        <div class="col-6 ">
                <img  src="{{ asset('image/spa-2.jpg') }}" width="800" height="400"  alt="">
        </div>    
        <div class="col-4">
            <div class=" card card-body  m-5 rounded-circle text-center bg-dark" >
                <h5 class="text-uppercase">Séjour Spa!</h5>
                <h6>Evadez-vous</h6>
                <p class="small m-4"> Besoin de déstresser, d’effacer les tensions musculaires, de retrouver son énergie, ou simplement de prendre soin de soi ? les spas, véritables écrins de bien-être parmi les plus beaux spa de France proposent des rituels très personnalisés, prodigués avec de prestigieuses lignes de soins...!</p>
                
            </div>
        </div>    
     </div>

     <h2 class="text-center text-dark">Comme vos reves </h2>
     <div class="d-flex m-5">    
        <div class="col-4 m-5">
            <div class=" card card-body  rounded-circle text-center bg-dark" >
                <h5 class="text-uppercase">Séjour Spa!</h5>
                <h6>Evadez-vous</h6>
                <p class="small m-4"> Besoin de déstresser, d’effacer les tensions musculaires, de retrouver son énergie, ou simplement de prendre soin de soi ? les spas, véritables écrins de bien-être parmi les plus beaux spa de France proposent des rituels très personnalisés, prodigués avec de prestigieuses lignes de soins...!</p>
                
            </div>
        </div>    
        
            <div class="col-6 w-75">
                <img  src="{{ asset('image/spa-3.png') }}" width="800" height="400"  alt="">
            </div>
            <hr class="accent my-5">
        
    </div>


            
            
            
        
   

    



{% endblock %}